<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--访问网络，访问网络连接，可能产生GPRS流量-->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--获取网络状态，获取网络信息状态，如当前的网络连接是否有效-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
